{% extends "layout.html" %}
{% block content %}

<h2>Edit Record</h2>

<form method="POST" action="/update/{{ record.date_time }}">

    <label>Tm No:</label>
    <input type="text" name="JobNumber" value="{{ record.job_num }}"><br>

    <label>Supplier Code:</label>
    <input type="text" name="SupplierCode" value="{{ record.supp_code }}"><br>

    <label>Broker Code:</label>
    <input type="text" name="BrokerCode" value="{{ record.broker_code }}"><br>

    <label>Weight:</label>
    <input type="text" name="Weight" value="{{ record.weight }}"><br>

    <label>Hardness:</label>
    <input type="text" name="Hardness" value="{{ record.hardness }}"><br>

    <label>Grade:</label>
    <input type="text" name="Grade" value="{{ record.grade }}"><br>

    <label>Batch No:</label>
    <input type="text" name="BatchNo" value="{{ record.batchNo }}"><br>

    <label>Item Code:</label>
    <input type="text" name="itemcode" value="{{ record.itemcode }}"><br>

    <label>UOM:</label>
    <input type="text" name="UOM" value="{{ record.uom }}"><br>

    <label>Item Desc:</label>
    <input type="text" name="ItemDesc" value="{{ record.item_desc }}"><br>

    <button type="submit">Update</button>
</form>

{% endblock %}
